html {
    height: 100%;
}

body {
  margin:0
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.row {
    display: flex;
    margin: 10px;
}

.no-margin {
  margin: 0;
  border: 1px solid black;
  height:100%;
}

.master {
    flex: 3;
    /*height: 300px;*/
    overflow-y: auto;
}

table,
td,
th {
    border: 1px solid #ddd;
}

table {
    font-family: monospace;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #eee;
}

th {
    height: 2em;
    text-align: center;
}

td {
    padding: 8px;
    text-align: left;
}

tbody>tr:hover {
    background-color: #f5f5f5;
}

.detail {
    flex: 1;
    border-left: 1px solid #ddd;
    background-color: #eee;
    overflow-x: auto;
}

.detailHeader {
    background-color: #eee;
    font-weight: bold;
    text-align: center;
    height: 2em;
}

.detailMain {
    background-color: #fff;
    padding: 10px;
    height: 100%;
}

.detailItem {
  padding: 2px;
  border-bottom: 1px solid #ddd;
}

.key {
    color: rgb(136, 19, 145);
}

.value {
    color: rgb(196, 26, 22);
}
.center {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}
.active {
  background-color: aliceblue;
}
