<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Primo Explorer</title>
    <script src="/js/vendor/vue.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/panel.css">
</head>

<body>
    <div id='app'>
        <div v-if="primo.available">
            <div v-if="primo.debugInfo">
                <div class="header">
                    <input type="text" name="" value="" placeholder="filter ..." v-model="directives.filter">
                </div>

                <div class="container">
                    <div class="left">
                        <div class="inline_header">
                            <span>&nbsp;</span>
                            <span>Directives</span>
                            <span>
                              <button type="button" name="button" title="Reload directive list" v-on:click="refreshDirectivesList">
                                <i class="material-icons">refresh</i>
                              </button>
                            </span>
                        </div>
                        <div class="inline_data">
                            <div class="data_item" v-for="directive in filteredDirectives(directives.filter)" v-on:click="loadDirective(directive, 1)" v-bind:class="[{data_item_active: (directives.selected.name == directive.name)}, '']">
                                <span class="circle" v-bind:class="[directive.exists ? 'libis_green' : 'libis_grey']">&nbsp;&nbsp;</span>
                                <span>{{ directive.name }}</span>
                                <span class="data_item_part">({{ directive.count }})</span>
                            </div>
                        </div>
                    </div>
                    <div class="middle"></div>
                    <div class="right">
                        <div class="inline_header">
                            <span>&nbsp;</span>
                            <span>{{ directives.selected.name }}</span>
                            <span>&nbsp;</span>
                        </div>
                        <div class="inline_header" v-show="directives.selected.count > 0">
                            <span>&nbsp;</span>
                            <span>
                              <span v-on:click='loadDirective(directives.selected, directives.selected.current - 1)'>&#x25C0;</span>
                              <span>{{ directives.selected.current }} / {{ directives.selected.count }}</span>
                              <span v-on:click='loadDirective(directives.selected, directives.selected.current + 1)'>&#x25B6;</span>
                            </span>
                            <span>
                              <a href="#" title="Use directive in console" v-on:click="pushDirectiveToConsole(directives.selected)">
                                <i class="material-icons button" style="color:black;font-size:1.5em;padding:5px;">open_in_browser</i>
                              </a>
                            </span>
                        </div>
                        <div class="inline_data">
                            <div v-for='key in Object.keys(directives.selected.scope)' class='data_item'>
                                <div>
                                    <span class='data_item_key'>{{ key }}</span>:
                                    <span class='data_item_value'>{{ directives.selected.scope[key] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer">
                    <div class="libis_oneline">
                        &copy; 2016 <a href="http://www.libis.be">LIBIS</a>
                    </div>
                    <div class="libis_dots">
                        <div class="circle libis_grey">&nbsp;</div>
                        <div class="circle libis_green">&nbsp;</div>
                        <div class='circle libis_purple'>&nbsp;</div>
                        <div class='circle libis_orange'>&nbsp;</div>
                        <div class='circle libis_blue'>&nbsp;</div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="modal">
                    <h1><i class="material-icons" style='font-size:144px;'>healing</i></h1>
                    <a v-on:click="reloadWithDebugInfo" href="#">Reload with debug info</a>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="modal">
                <h1>Not a Primo new UI window</h1>
                <a v-on:click="reloadExtention" href="#">reload</a>
            </div>
        </div>
    </div>

    <script src="/js/utils.js"></script>
    <script src="/js/chrome/panel.js"></script>
</body>

</html>
