<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Primo Explore</title>
    <script src="/js/vendor/vue.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/flexboxgrid.min.css">
    <link rel="stylesheet" href="/css/panel.css">
</head>

<body>
    <div id="app">
        <!-- header -->
        <div class="row header">
            <div class="col-xs-9 left-header">
                <!-- filter -->
                <div class="box">
                    <div class="row around-xs">
                        <div class="col-xs-12">
                            <input type="text" name="" value="" placeholder="filter ..." v-model="searchDirective">
                        </div>
                    </div>
                </div>
                <!-- table header -->
                <div class="row around-xs">
                    <div class="col-xs">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <div class="row">
                                            <div class="col-xs-11">
                                                Directives
                                            </div>
                                            <div class="col-xs-1">
                                                <nav class="box">
                                                    <button type="button" name="button" title="Push to console" v-on:click="pushToConsole(selectedDirective)">
                                                      <i class="material-icons">open_in_browser</i>
                                                    </button>

                                                    <button type="button" name="button" title="Reload directive list" v-on:click="refreshDirectivesList">
                                                      <i class="material-icons">refresh</i>
                                                    </button>
                                                </nav>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- right -->
            <div class="col-xs-3 right-header">
                <!-- nav bar -->
                <div class="row end-xs">
                    <nav class="box">
                        <button type="button" name="button" title="Reload with debug info" v-on:click="reloadWithDebugInfo">
                          <i class="material-icons">healing</i>
                        </button>
                    </nav>
                </div>
                <!-- selected directive properties -->
                <div class="row center-xs">&nbsp;</div>
                <div class="row center-xs">
                    <b>{{ selectedDirective }}</b>
                </div>
            </div>
        </div>
        <!-- main -->
        <div class="row main">
            <div class="col-xs-9 left-main">
                <div>
                    <table>
                        <tbody>
                            <tr v-for="directive in filteredDirectives(searchDirective)" v-on:click="loadDirective(directive.name)" v-bind:class="[{active: (selectedDirective == directive.name)}, '']">
                                <td>
                                    <div class="row">
                                        <div class="col-xs-11">
                                            {{ directive.name }}
                                        </div>
                                        <div class="col-xs-1">
                                            {{ directive.exists }}
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-3 right-main">
                <div v-for='key in Object.keys(directiveData)' class='row'>
                    <div class="col-xs">
                        <span class='key'>{{ key }}</span>:
                        <span class='value'>{{ directiveData[key] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/utils.js"></script>
    <script src="/js/chrome/panel.js"></script>
</body>

</html>
